<script>
	import Product from './Product.svelte';
	let productTitle = "A book";
</script>


<Product 
{productTitle} 
on:add-to-cart={() => alert("added to cart")} 
on:delete-from-cart={() => alert("removed from cart")} 
/>
<!-- 
In this case the on:click with existing functionality is passed to any part 
in the component that has on:click. This causes an issue for us becase we 
have both an "addToCart" button and a "delete" button. The functionality 
passed in here is sent to both buttons.
-->