<script>
    import { createEventDispatcher } from 'svelte';
    import dispatchUtil from './DispatchUtil/DispatchUtil.js'
    export let productTitle;
    const dispatch = createEventDispatcher();
</script>
<article>
    <h1>{productTitle}</h1>
    <button 
    class="add-to-cart" 
    on:click={function (){
        dispatchUtil.dispatchEvent(this,dispatch);
    }}>
    Add to Cart
    </button>
    <button 
    class="delete-from-cart" 
    on:click={function (){
        dispatchUtil.dispatchEvent(this,dispatch);
    }}>
    Delete
    </button>
</article>